@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "微軟正黑體";
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: "微軟正黑體";
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0px;
  font-family: "微軟正黑體";
}

select, input {
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "微軟正黑體";
}

i {
  display: block;
}

a {
  display: block;
  text-decoration: none;
}

main {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
          appearance: none;
}

.bg {
  background: url("../images/bg_01.jpg") no-repeat top center;
  background-size: cover;
}

header .center {
  background: url("../images/smallBG_02.png");
  background-size: contain;
}

header .center::before {
  background: url("../images/smallBG_01.png") no-repeat;
  background-size: contain;
}

header .center::after {
  background: url("../images/smallBG_03.png") no-repeat;
  background-size: contain;
}

footer i {
  background: url("../images/footer_typeIC.png") no-repeat;
  background-size: 300%;
}

.mainArea .dateBox .date_month_num.zero {
  background: url("../images/date/zero.png") no-repeat center;
  background-size: contain;
}

.mainArea .dateBox .date_month_num.one {
  background: url("../images/date/one.png") no-repeat center;
  background-size: contain;
}

.mainArea .dateBox .date_month_num.two {
  background: url("../images/date/two.png") no-repeat center;
  background-size: contain;
}

.mainArea .dateBox .date_month_num.three {
  background: url("../images/date/three.png") no-repeat center;
  background-size: contain;
}

.mainArea .dateBox .date_month_num.four {
  background: url("../images/date/four.png") no-repeat center;
  background-size: contain;
}

.mainArea .dateBox .date_month_num.five {
  background: url("../images/date/five.png") no-repeat center;
  background-size: contain;
}

.mainArea .dateBox .date_month_num.six {
  background: url("../images/date/six.png") no-repeat center;
  background-size: contain;
}

.mainArea .dateBox .date_month_num.seven {
  background: url("../images/date/seven.png") no-repeat center;
  background-size: contain;
}

.mainArea .dateBox .date_month_num.eight {
  background: url("../images/date/eight.png") no-repeat center;
  background-size: contain;
}

.mainArea .dateBox .date_month_num.nine {
  background: url("../images/date/nine.png") no-repeat center;
  background-size: contain;
}

.mainArea .dateBox .date_day_num.zero {
  background: url("../images/date/zero.png") no-repeat center;
  background-size: contain;
}

.mainArea .dateBox .date_day_num.one {
  background: url("../images/date/one.png") no-repeat center;
  background-size: contain;
}

.mainArea .dateBox .date_day_num.two {
  background: url("../images/date/two.png") no-repeat center;
  background-size: contain;
}

.mainArea .dateBox .date_day_num.three {
  background: url("../images/date/three.png") no-repeat center;
  background-size: contain;
}

.mainArea .dateBox .date_day_num.four {
  background: url("../images/date/four.png") no-repeat center;
  background-size: contain;
}

.mainArea .dateBox .date_day_num.five {
  background: url("../images/date/five.png") no-repeat center;
  background-size: contain;
}

.mainArea .dateBox .date_day_num.six {
  background: url("../images/date/six.png") no-repeat center;
  background-size: contain;
}

.mainArea .dateBox .date_day_num.seven {
  background: url("../images/date/seven.png") no-repeat center;
  background-size: contain;
}

.mainArea .dateBox .date_day_num.eight {
  background: url("../images/date/eight.png") no-repeat center;
  background-size: contain;
}

.mainArea .dateBox .date_day_num.nine {
  background: url("../images/date/nine.png") no-repeat center;
  background-size: contain;
}

.mainArea .dateBox .date_month_word {
  background: url("../images/date/month.png") no-repeat center;
  background-size: contain;
}

.mainArea .dateBox .date_day_word {
  background: url("../images/date/day.png") no-repeat center;
  background-size: contain;
}

.mainArea .bonusBox .moneyBox {
  background: url("../images/bonus_BG.png") no-repeat center;
  background-size: contain;
}

.mainArea .moneyBox i.zero {
  background: url("../images/bonus/zero.png") no-repeat center;
  background-size: contain;
}

.mainArea .moneyBox i.one {
  background: url("../images/bonus/one.png") no-repeat center;
  background-size: contain;
}

.mainArea .moneyBox i.two {
  background: url("../images/bonus/two.png") no-repeat center;
  background-size: contain;
}

.mainArea .moneyBox i.three {
  background: url("../images/bonus/three.png") no-repeat center;
  background-size: contain;
}

.mainArea .moneyBox i.four {
  background: url("../images/bonus/four.png") no-repeat center;
  background-size: contain;
}

.mainArea .moneyBox i.five {
  background: url("../images/bonus/five.png") no-repeat center;
  background-size: contain;
}

.mainArea .moneyBox i.six {
  background: url("../images/bonus/six.png") no-repeat center;
  background-size: contain;
}

.mainArea .moneyBox i.seven {
  background: url("../images/bonus/seven.png") no-repeat center;
  background-size: contain;
}

.mainArea .moneyBox i.eight {
  background: url("../images/bonus/eight.png") no-repeat center;
  background-size: contain;
}

.mainArea .moneyBox i.nine {
  background: url("../images/bonus/nine.png") no-repeat center;
  background-size: contain;
}

.jumpWindow .close::before {
  background: url("../images/jumpWindow_close.png") no-repeat center;
  background-size: contain;
}

.jumpWindow .pageBox i {
  background: url("../images/pageBox_arrow.png") no-repeat center;
  background-size: contain;
}

.jumpWindow.rule .img {
  background: url("../images/ruleImg.jpg") no-repeat;
  background-size: contain;
}

.selectBox .arrow_ic {
  background: url("../images/arrow_1.png") no-repeat center;
  background-size: contain;
}

.inputBox .date_ic {
  background: url("../images/date.png") no-repeat center;
  background-size: contain;
}

.flag_America {
  background: url("../images/flag/America.png") no-repeat center;
  background-size: 100%;
}

.flag_Arabia {
  background: url("../images/flag/Arabia.png") no-repeat center;
  background-size: 100%;
}

.flag_Argentina {
  background: url("../images/flag/Argentina.png") no-repeat center;
  background-size: 100%;
}

.flag_Australia {
  background: url("../images/flag/Ar.Australia.png") no-repeat center;
  background-size: 100%;
}

.flag_Belgium {
  background: url("../images/flag/Ar.Belgium.png") no-repeat center;
  background-size: 100%;
}

.flag_Brazil {
  background: url("../images/flag/Brazil.png") no-repeat center;
  background-size: 100%;
}

.flag_Cameroon {
  background: url("../images/flag/Cameroon.png") no-repeat center;
  background-size: 100%;
}

.flag_Canada {
  background: url("../images/flag/Canada.png") no-repeat center;
  background-size: 100%;
}

.flag_CostaRica {
  background: url("../images/flag/CostaRica.png") no-repeat center;
  background-size: 100%;
}

.flag_Croatia {
  background: url("../images/flag/Croatia.png") no-repeat center;
  background-size: 100%;
}

.flag_Denmark {
  background: url("../images/flag/Denmark.png") no-repeat center;
  background-size: 100%;
}

.flag_Ecuador {
  background: url("../images/flag/Ecuador.png") no-repeat center;
  background-size: 100%;
}

.flag_England {
  background: url("../images/flag/England.png") no-repeat center;
  background-size: 100%;
}

.flag_Franch {
  background: url("../images/flag/Franch.png") no-repeat center;
  background-size: 100%;
}

.flag_Germany {
  background: url("../images/flag/Germany.png") no-repeat center;
  background-size: 100%;
}

.flag_Ghana {
  background: url("../images/flag/Ghana.png") no-repeat center;
  background-size: 100%;
}

.flag_Iran {
  background: url("../images/flag/Iran.png") no-repeat center;
  background-size: 100%;
}

.flag_Japan {
  background: url("../images/flag/Japan.png") no-repeat center;
  background-size: 100%;
}

.flag_Korea {
  background: url("../images/flag/Korea.png") no-repeat center;
  background-size: 100%;
}

.flag_Mexico {
  background: url("../images/flag/Mexico.png") no-repeat center;
  background-size: 100%;
}

.flag_Morocco {
  background: url("../images/flag/Morocco.png") no-repeat center;
  background-size: 100%;
}

.flag_Netherlands {
  background: url("../images/flag/Netherlands.png") no-repeat center;
  background-size: 100%;
}

.flag_Poland {
  background: url("../images/flag/Poland.png") no-repeat center;
  background-size: 100%;
}

.flag_Portugal {
  background: url("../images/flag/Portugal.png") no-repeat center;
  background-size: 100%;
}

.flag_Qatar {
  background: url("../images/flag/Qatar.png") no-repeat center;
  background-size: 100%;
}

.flag_Senegal {
  background: url("../images/flag/Senegal.png") no-repeat center;
  background-size: 100%;
}

.flag_Serbian {
  background: url("../images/flag/Serbian.png") no-repeat center;
  background-size: 100%;
}

.flag_Spain {
  background: url("../images/flag/Spain.png") no-repeat center;
  background-size: 100%;
}

.flag_Switzerland {
  background: url("../images/flag/Switzerland.png") no-repeat center;
  background-size: 100%;
}

.flag_Tunisia {
  background: url("../images/flag/Tunisia.png") no-repeat center;
  background-size: 100%;
}

.flag_Uruguay {
  background: url("../images/flag/Uruguay.png") no-repeat center;
  background-size: 100%;
}

.flag_Wales {
  background: url("../images/flag/Wales.png") no-repeat center;
  background-size: 100%;
}

html {
  width: 100%;
  height: 100%;
  min-height: 833px;
  background: #000000;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html body {
  width: 100%;
  height: 100%;
}
html body header {
  width: 100%;
  height: 42px;
  background: -webkit-gradient(linear, left top, right top, from(#d7a950), color-stop(6%, #bf8935), color-stop(49%, #f3e19a), color-stop(93%, #bf8935), to(#d7a950));
  background: linear-gradient(to right, #d7a950 0%, #bf8935 6%, #f3e19a 49%, #bf8935 93%, #d7a950 100%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
html body header .center {
  width: 65%;
  height: 35px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}
html body header .center::before, html body header .center::after {
  content: "";
  position: absolute;
  top: 0;
  width: 11px;
  height: 100%;
}
html body header .center::before {
  left: -11px;
}
html body header .center::after {
  right: -11px;
}
html body header .center p {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-top: -5px;
}
html body header .center p span {
  margin-left: 5px;
}
html body .mainArea {
  width: 100%;
  height: auto;
  padding-bottom: 90px;
}
html body .mainArea .gameBox {
  width: 88vw;
  height: auto;
  background: rgba(8, 35, 132, 0.7450980392);
  border: solid 1px #58bff4;
  margin: 10vw auto 0;
}
html body .mainArea .gameBox .dateBox {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -4.5vw 0 4vw;
}
html body .mainArea .gameBox .dateBox i {
  width: 9vw;
  height: 10vw;
}
html body .mainArea .gameBox .bigTitle {
  width: 80%;
  height: 10vw;
  background: -webkit-gradient(linear, left bottom, left top, from(#e8d793), color-stop(50%, #d2a359), color-stop(93%, #e8d793));
  background: linear-gradient(to top, #e8d793 0%, #d2a359 50%, #e8d793 93%);
  border-radius: 10px;
  border: solid 1px #f9eecb;
  -webkit-box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.5019607843);
          box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.5019607843);
  color: #241601;
  font-size: 4vw;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 4vw;
}
html body .mainArea .gameBox .bonusBox {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 4vw;
}
html body .mainArea .gameBox .bonusBox p {
  color: transparent;
  font-size: 5vw;
  font-weight: bold;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #f5c83d), color-stop(35%, #e8862e), color-stop(67%, #ffd75f));
  background: linear-gradient(to top, #f5c83d 10%, #e8862e 35%, #ffd75f 67%);
  -webkit-background-clip: text;
          background-clip: text;
  margin-right: 3vw;
}
html body .mainArea .gameBox .bonusBox .moneyBox {
  width: 45vw;
  height: 11vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
html body .mainArea .gameBox .bonusBox .moneyBox i {
  width: 4.5vw;
  height: 5vw;
  margin-top: -1vw;
}
html body .mainArea .gameBox .bettingBox {
  width: 94%;
  height: auto;
  background: rgba(0, 0, 0, 0.5019607843);
  border: solid 1px #6dd1ff;
  margin: 0 auto 3vw;
}
html body .mainArea .gameBox .bettingBox .smallTitle {
  width: 100%;
  height: 9vw;
  background: #1b327b;
}
html body .mainArea .gameBox .bettingBox .smallTitle ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
html body .mainArea .gameBox .bettingBox .smallTitle ul li {
  width: 34%;
  height: 100%;
  color: #e2f4ff;
  font-size: 4vw;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
html body .mainArea .gameBox .bettingBox .smallTitle ul li .rowBox {
  width: 88%;
  height: 88%;
  background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(#d4d4d4));
  background: linear-gradient(to top, #ffffff 0%, #d4d4d4 100%);
  border-radius: 30px;
  border: solid 1px #474747;
  -webkit-box-sizing: 0 2px 5px 0 rgba(0, 0, 0, 0.5019607843);
          box-sizing: 0 2px 5px 0 rgba(0, 0, 0, 0.5019607843);
  color: #4c4c4c;
  font-size: 3vw;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2px;
  cursor: pointer;
}
html body .mainArea .gameBox .bettingBox .smallTitle ul li .rowBox.left p:nth-of-type(1) {
  width: 60%;
  background: -webkit-gradient(linear, left bottom, left top, from(#06b6e8), color-stop(17%, #1972e0), to(#06b6e8));
  background: linear-gradient(to top, #06b6e8 0%, #1972e0 17%, #06b6e8 100%);
  border-radius: 30px;
  border: solid 1px #1876e0;
  color: #ffffff;
}
html body .mainArea .gameBox .bettingBox .smallTitle ul li .rowBox.left p:nth-of-type(2) {
  width: 40%;
}
html body .mainArea .gameBox .bettingBox .smallTitle ul li .rowBox.right p:nth-of-type(1) {
  width: 50%;
}
html body .mainArea .gameBox .bettingBox .smallTitle ul li .rowBox.right p:nth-of-type(2) {
  width: 50%;
  background: -webkit-gradient(linear, left bottom, left top, from(#11d416), color-stop(17%, #0c8b1b), to(#11d416));
  background: linear-gradient(to top, #11d416 0%, #0c8b1b 17%, #11d416 100%);
  border-radius: 30px;
  border: solid 1px #0C8B1B;
  color: #ffffff;
}
html body .mainArea .gameBox .bettingBox .smallTitle ul li .rowBox p {
  height: 86%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 2px;
}
html body .mainArea .gameBox .bettingBox .tableBox {
  width: 100%;
  height: 72vw;
  overflow-y: auto;
}
html body .mainArea .gameBox .bettingBox .tableBox ul {
  width: 100%;
  height: auto;
}
html body .mainArea .gameBox .bettingBox .tableBox ul li {
  width: 100%;
  height: 9vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
html body .mainArea .gameBox .bettingBox .tableBox ul li div {
  width: 34%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
html body .mainArea .gameBox .bettingBox .tableBox ul li div:nth-of-type(1) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
html body .mainArea .gameBox .bettingBox .tableBox ul li div:nth-of-type(1) p {
  width: 16vw;
  position: absolute;
  left: 13vw;
}
html body .mainArea .gameBox .bettingBox .tableBox ul li div:last-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
html body .mainArea .gameBox .bettingBox .tableBox ul li div i {
  width: 9vw;
  height: 7vw;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 2vw;
}
html body .mainArea .gameBox .bettingBox .tableBox ul li div p {
  color: #ffffff;
  font-size: 4vw;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
html body .mainArea .gameBox .bettingBox .tableBox ul li div p.active {
  width: auto;
  background: #ffd644;
  border-radius: 3px;
  color: #000000;
  padding: 5px;
}
html body .mainArea .gameBox .bettingBox .tableBox ul li div p.money {
  font-size: 5vw;
}
html body .mainArea .gameBox .bettingBox .tableBox ul li div button {
  width: 13vw;
  height: 7vw;
  background: -webkit-gradient(linear, left bottom, left top, from(#ea8b11), to(#ffd644));
  background: linear-gradient(to top, #ea8b11 0%, #ffd644 100%);
  border-radius: 3px;
  border: none;
  color: #161616;
  font-size: 4vw;
  font-weight: bold;
  margin-right: 2vw;
}
html body .mainArea .gameBox .bettingBox .tableBox ul li div button:active, html body .mainArea .gameBox .bettingBox .tableBox ul li div button.active {
  background: -webkit-gradient(linear, left bottom, left top, from(#ea8b11), to(#e25406));
  background: linear-gradient(to top, #ea8b11 0%, #e25406 100%);
  color: #ffffff;
}
html body footer {
  width: 100%;
  height: 60px;
  background: -webkit-gradient(linear, left top, right top, color-stop(16%, #bf8935), color-stop(50%, #e8d793), color-stop(72%, #bf8935), color-stop(93%, #ead271));
  background: linear-gradient(to right, #bf8935 16%, #e8d793 50%, #bf8935 72%, #ead271 93%);
  position: fixed;
  left: 0;
  bottom: 0;
}
html body footer ul {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 5px;
  bottom: 0;
}
html body footer ul li {
  width: auto;
  min-width: 86px;
  height: 70px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1b3180), to(#1d46a4));
  background: linear-gradient(to top, #1b3180 0%, #1d46a4 100%);
  border-radius: 10px 10px 0 0;
  -webkit-box-shadow: 0 -3px 8px 0 rgba(0, 0, 0, 0.5019607843);
          box-shadow: 0 -3px 8px 0 rgba(0, 0, 0, 0.5019607843);
  border: solid 3px #fff1ae;
  border-bottom: none;
  color: #fff1ae;
  font-size: 14px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px;
  margin-right: 8px;
}
html body footer ul li:active, html body footer ul li.active {
  background: -webkit-gradient(linear, left bottom, left top, from(#112a83), to(#0e236d));
  background: linear-gradient(to top, #112a83 0%, #0e236d 100%);
}
html body footer ul li i {
  width: 36px;
  height: 33px;
  margin-bottom: 5px;
}
html body footer ul li i.rule_ic {
  background-position-x: 0;
}
html body footer ul li i.record_ic {
  background-position-x: 50%;
}
html body footer ul li i.acting_ic {
  background-position-x: 100%;
}
html body .filter {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5019607843);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 101;
}
html body .filter.display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
html body .filter .jumpWindow {
  width: 92vw;
  height: auto;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(5%, #bf8935), color-stop(49%, #eab95a), color-stop(87%, #eab95a), to(#f9d87f));
  background: linear-gradient(to top, #bf8935 5%, #eab95a 49%, #eab95a 87%, #f9d87f 100%);
  border: solid 1px #fff8c1;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  display: none;
}
html body .filter .jumpWindow.display {
  display: block;
}
html body .filter .jumpWindow .title {
  width: 100%;
  height: 11vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
html body .filter .jumpWindow .title p {
  color: #161616;
  font-size: 5vw;
  font-weight: bold;
}
html body .filter .jumpWindow .title .close {
  width: 11vw;
  height: 11vw;
  background: -webkit-gradient(linear, left bottom, left top, from(#c31f17), color-stop(47%, #971c1c), to(#c31f17));
  background: linear-gradient(to top, #c31f17 0%, #971c1c 47%, #c31f17 100%);
  border-radius: 0 16px 0 0;
  position: absolute;
  right: 0;
  top: 0;
}
html body .filter .jumpWindow .title .close::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 4vw;
  height: 4vw;
}
html body .filter .jumpWindow.record .topList {
  width: 88%;
  height: auto;
  margin: 5vw auto 2vw;
}
html body .filter .jumpWindow.record .topList ul {
  width: 100%;
  height: auto;
  border-bottom: solid 3px #112f90;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
html body .filter .jumpWindow.record .topList ul li {
  width: 14vw;
  height: 7vw;
  background: -webkit-gradient(linear, left bottom, left top, from(#f7e9d6), to(#ffffff));
  background: linear-gradient(to top, #f7e9d6 0%, #ffffff 100%);
  border-radius: 5px 5px 0 0;
  border: solid 1px #ffffff;
  border-bottom: none;
  color: #161616;
  font-size: 4.5vw;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin-right: 2vw;
}
html body .filter .jumpWindow.record .topList ul li:active, html body .filter .jumpWindow.record .topList ul li.active {
  background: -webkit-gradient(linear, left bottom, left top, from(#102e90), to(#1d46a4));
  background: linear-gradient(to top, #102e90 0%, #1d46a4 100%);
  border-color: #123192;
  color: #ffffff;
}
html body .filter .jumpWindow.record .content {
  width: 88%;
  height: auto;
  margin: 0 auto 2vw;
}
html body .filter .jumpWindow.record .content .tableBox {
  width: 100%;
  height: auto;
  background: #ffffff;
  border: solid 1px #fff8c1;
  overflow-x: auto;
}
html body .filter .jumpWindow.record .content .tableBox table {
  width: auto;
  height: auto;
}
html body .filter .jumpWindow.record .content .tableBox table tr:last-child td {
  border: none;
}
html body .filter .jumpWindow.record .content .tableBox table tr th {
  height: 8vw;
  background: -webkit-gradient(linear, left bottom, left top, from(#9a6221), color-stop(49%, #6e4111), to(#9a6221));
  background: linear-gradient(to top, #9a6221 0%, #6e4111 49%, #9a6221 100%);
  vertical-align: middle;
}
html body .filter .jumpWindow.record .content .tableBox table tr th:last-child p {
  border: none;
}
html body .filter .jumpWindow.record .content .tableBox table tr th p {
  width: 100%;
  border-right: solid 1px #fff8c1;
  color: #ffffff;
  font-size: 4vw;
  font-weight: bold;
  text-align: center;
}
html body .filter .jumpWindow.record .content .tableBox table tr td {
  width: auto;
  min-width: 24vw;
  height: 8vw;
  border-bottom: solid 1px #b39c77;
  vertical-align: middle;
}
html body .filter .jumpWindow.record .content .tableBox table tr td:last-child p {
  border: none;
}
html body .filter .jumpWindow.record .content .tableBox table tr td p {
  width: auto;
  border-right: solid 1px #b39c77;
  color: #252525;
  font-size: 4vw;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  padding: 0 10px;
}
html body .filter .jumpWindow.record .pageBox {
  width: 88%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 auto 5vw;
}
html body .filter .jumpWindow.record .pageBox i {
  width: 3vw;
  height: 3vw;
}
html body .filter .jumpWindow.record .pageBox i.arrow_right {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}
html body .filter .jumpWindow.record .pageBox ul {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 2vw;
}
html body .filter .jumpWindow.record .pageBox ul li {
  width: 6vw;
  height: 6vw;
  background: transparent;
  border: solid 1px #ffffff;
  border-radius: 3px;
  color: #ffffff;
  font-size: 3vw;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin-right: 2vw;
}
html body .filter .jumpWindow.record .pageBox ul li:active, html body .filter .jumpWindow.record .pageBox ul li.active {
  background: #1d46a4;
  border-color: #1d46a4;
}
html body .filter .jumpWindow.record .pageBox ul li:last-child {
  margin: 0;
}
html body .filter .jumpWindow.rule .content {
  width: 88%;
  height: auto;
  max-height: 45vh;
  background: #ffffff;
  margin: 5vw auto;
  padding: 16px 10px;
  overflow-y: auto;
}
html body .filter .jumpWindow.rule .content p {
  color: #252525;
  font-size: 4vw;
  font-weight: bold;
  line-height: 7vw;
}
html body .filter .jumpWindow.rule .content p.mar {
  margin-bottom: 5vw;
}
html body .filter .jumpWindow.rule .content p.mainTeam {
  color: #ec0a10;
}
html body .filter .jumpWindow.rule .content p.cusTeam {
  color: #048e0c;
}
html body .filter .jumpWindow.rule .content p span {
  display: inline-block;
  color: #ffffff;
  padding: 0 10px;
}
html body .filter .jumpWindow.rule .content p span.mainWin {
  background: #d1050a;
}
html body .filter .jumpWindow.rule .content p span.cusWin {
  background: #108308;
}
html body .filter .jumpWindow.rule .content .img {
  width: 100%;
  height: 0;
  padding-top: 141%;
  margin: 10px 0;
}
html body .filter .jumpWindow.rule .check {
  width: 70%;
  height: 11vw;
  background: -webkit-gradient(linear, left bottom, left top, from(#1251df), color-stop(50%, #0826a8), to(#1251df));
  background: linear-gradient(to top, #1251df 0%, #0826a8 50%, #1251df 100%);
  border-radius: 5px;
  border: solid 1px #f4e1a3;
  -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2862745098);
          box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2862745098);
  color: #ffffff;
  font-size: 4.5vw;
  font-weight: bold;
  display: block;
  margin: 0 auto 5vw;
}
html body .filter .jumpWindow.rule .check:active, html body .filter .jumpWindow.rule .check.active {
  background: -webkit-gradient(linear, left bottom, left top, from(#1251df), color-stop(75%, #0826a8));
  background: linear-gradient(to top, #1251df 0%, #0826a8 75%);
}
html body .filter .jumpWindow.betting .content {
  width: 88%;
  height: auto;
  background: #ffffff;
  margin: 3vw auto 0;
}
html body .filter .jumpWindow.betting .content .smallTitle {
  width: 100%;
  height: 8vw;
  background: -webkit-gradient(linear, left bottom, left top, from(#9a6221), color-stop(49%, #6e4111), to(#9a6221));
  background: linear-gradient(to top, #9a6221 0%, #6e4111 49%, #9a6221 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
html body .filter .jumpWindow.betting .content .smallTitle p {
  color: #ffffff;
  font-size: 4vw;
  font-weight: bold;
}
html body .filter .jumpWindow.betting .content .teamBox {
  width: 100%;
  height: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
html body .filter .jumpWindow.betting .content .teamBox i {
  width: 9vw;
  height: 7vw;
  -webkit-filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.5019607843));
          filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.5019607843));
  margin-right: 2vw;
}
html body .filter .jumpWindow.betting .content .teamBox p {
  color: #252525;
  font-size: 4vw;
  font-weight: bold;
}
html body .filter .jumpWindow.betting .content .bettingBox {
  width: 100%;
  height: auto;
}
html body .filter .jumpWindow.betting .content .bettingBox .inputBox {
  width: 100%;
  height: 11vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
html body .filter .jumpWindow.betting .content .bettingBox .inputBox input {
  width: 45%;
  height: 7vw;
  background: #ebebeb;
  border-radius: 5px;
  border: solid 1px #6b6b6b;
  color: #eb0d0d;
  font-size: 4.5vw;
  font-weight: bold;
  text-align: center;
}
html body .filter .jumpWindow.betting .content .bettingBox .btnBox {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5vw 1fr 1.5vw 1fr 1.5vw 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5vw;
  padding: 2vw;
}
html body .filter .jumpWindow.betting .content .bettingBox .btnBox button {
  width: auto;
  height: 8vw;
  background: -webkit-gradient(linear, left bottom, left top, from(#dec8a6), color-stop(68%, #fffcf8));
  background: linear-gradient(to top, #dec8a6 0%, #fffcf8 68%);
  border-radius: 3px;
  border: solid 1px #a06d15;
  color: #252525;
  font-size: 4vw;
  font-weight: bold;
}
html body .filter .jumpWindow.betting .content .bettingBox .btnBox button:active, html body .filter .jumpWindow.betting .content .bettingBox .btnBox button.active {
  background: #970e08;
  border-color: #ffffff;
  color: #ffffff;
}
html body .filter .jumpWindow.betting .content .bettingBox .btnBox button:last-child {
  -ms-grid-column: -1;
      grid-column-start: -1;
  grid-column-end: 3;
}
html body .filter .jumpWindow.betting .check {
  width: 70%;
  height: 11vw;
  background: -webkit-gradient(linear, left bottom, left top, from(#1251df), color-stop(50%, #0826a8), to(#1251df));
  background: linear-gradient(to top, #1251df 0%, #0826a8 50%, #1251df 100%);
  border-radius: 5px;
  border: solid 1px #f4e1a3;
  -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2862745098);
          box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2862745098);
  color: #ffffff;
  font-size: 4.5vw;
  font-weight: bold;
  display: block;
  margin: 5vw auto;
}
html body .filter .jumpWindow.betting .check:active, html body .filter .jumpWindow.betting .check.active {
  background: -webkit-gradient(linear, left bottom, left top, from(#1251df), color-stop(75%, #0826a8));
  background: linear-gradient(to top, #1251df 0%, #0826a8 75%);
}
html body .filter .jumpWindow.acting .topBox {
  width: 92%;
  height: auto;
  border-bottom: solid 3px #112f90;
  margin: 3vw auto;
  padding-bottom: 3vw;
}
html body .filter .jumpWindow.acting .topBox .row {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
html body .filter .jumpWindow.acting .topBox .row .smallTitle {
  width: 20vw;
  color: #161616;
  font-size: 4vw;
  font-weight: bold;
  margin-bottom: 2vw;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
html body .filter .jumpWindow.acting .topBox .row .selectBox {
  display: block;
  width: 100%;
  height: 10vw;
  position: relative;
  margin-bottom: 2vw;
}
html body .filter .jumpWindow.acting .topBox .row .selectBox select {
  width: 100%;
  height: 100%;
  background: #ffffff;
  border-radius: 5px;
  border: solid 1px #9b6d22;
  color: #161616;
  font-size: 4vw;
  font-weight: bold;
  padding-left: 10px;
}
html body .filter .jumpWindow.acting .topBox .row .selectBox i {
  width: 4vw;
  height: 4vw;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
html body .filter .jumpWindow.acting .topBox .row .inputBox {
  width: 100%;
  height: 10vw;
  background: #ffffff;
  border-radius: 5px;
  border: solid 1px #9b6d22;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-left: 10px;
  margin-bottom: 3vw;
}
html body .filter .jumpWindow.acting .topBox .row .inputBox input {
  background: none;
  border: none;
  color: #161616;
  font-size: 3.4vw;
  font-weight: bold;
}
html body .filter .jumpWindow.acting .topBox .row .inputBox p {
  color: #878787;
  font-size: 3.7vw;
  font-weight: bold;
  margin-right: 4vw;
}
html body .filter .jumpWindow.acting .topBox .row .inputBox i {
  width: 4vw;
  height: 4vw;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
html body .filter .jumpWindow.acting .topBox .btnBox {
  width: 92%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1vw 1fr 1vw 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 1vw;
  margin: 0 auto 2vw;
}
html body .filter .jumpWindow.acting .topBox .btnBox button {
  width: auto;
  height: 8vw;
  background: -webkit-gradient(linear, left bottom, left top, from(#dec8a6), color-stop(68%, #fffcf8));
  background: linear-gradient(to top, #dec8a6 0%, #fffcf8 68%);
  border-radius: 3px;
  border: solid 1px #a06d15;
  color: #252525;
  font-size: 4vw;
  font-weight: bold;
}
html body .filter .jumpWindow.acting .topBox .btnBox button:active, html body .filter .jumpWindow.acting .topBox .btnBox button.active {
  background: #970e08;
  border-color: #ffffff;
  color: #ffffff;
}
html body .filter .jumpWindow.acting .topBox .check {
  width: 75%;
  height: 11vw;
  background: -webkit-gradient(linear, left bottom, left top, from(#1251df), color-stop(50%, #0826a8), to(#1251df));
  background: linear-gradient(to top, #1251df 0%, #0826a8 50%, #1251df 100%);
  border-radius: 5px;
  border: solid 1px #f4e1a3;
  -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2862745098);
          box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2862745098);
  color: #ffffff;
  font-size: 4.5vw;
  font-weight: bold;
  display: block;
  margin: 0 auto;
}
html body .filter .jumpWindow.acting .topBox .check:active, html body .filter .jumpWindow.acting .topBox .check.active {
  background: -webkit-gradient(linear, left bottom, left top, from(#1251df), color-stop(75%, #0826a8));
  background: linear-gradient(to top, #1251df 0%, #0826a8 75%);
}
html body .filter .jumpWindow.acting .content {
  width: 92%;
  height: auto;
  background: #ffffff;
  border: solid 1px #fff8c1;
  margin: 0 auto;
  overflow-x: auto;
}
html body .filter .jumpWindow.acting .content table {
  width: auto;
  height: auto;
}
html body .filter .jumpWindow.acting .content table tr:last-child td {
  background: #1d3c83;
  border: none;
}
html body .filter .jumpWindow.acting .content table tr:last-child td p {
  border-color: #ffffff;
  color: #ffffff;
}
html body .filter .jumpWindow.acting .content table tr th {
  width: auto;
  height: 10vw;
  background: -webkit-gradient(linear, left bottom, left top, from(#9a6221), color-stop(49%, #6e4111), to(#9a6221));
  background: linear-gradient(to top, #9a6221 0%, #6e4111 49%, #9a6221 100%);
  vertical-align: middle;
}
html body .filter .jumpWindow.acting .content table tr th:last-child p {
  border: none;
}
html body .filter .jumpWindow.acting .content table tr th p {
  width: 100%;
  border-right: solid 1px #fff8c1;
  color: #ffffff;
  font-size: 3.7vw;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}
html body .filter .jumpWindow.acting .content table tr td {
  width: auto;
  min-width: 24vw;
  height: 10vw;
  border-bottom: solid 1px #b39c77;
  vertical-align: middle;
}
html body .filter .jumpWindow.acting .content table tr td:last-child p {
  border: none;
}
html body .filter .jumpWindow.acting .content table tr td p {
  width: 100%;
  border-right: solid 1px #b39c77;
  color: #252525;
  font-size: 3.7vw;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  padding: 0 5vw;
}
html body .filter .jumpWindow.acting .content table tr td p.win {
  color: #019e0f;
}
html body .filter .jumpWindow.acting .content table tr td p.lose {
  color: #e71111;
}
html body .filter .jumpWindow.acting .content table tr td p.allWin {
  color: #20ff34;
}
html body .filter .jumpWindow.acting .content table tr td p.allLose {
  color: #ff5842;
}
html body .filter .jumpWindow.acting .content table tr td p.clickable {
  color: #c68b18;
  text-decoration: underline;
}
html body .filter .jumpWindow.acting .content table tr td p span {
  color: #c68b18;
}
html body .filter .jumpWindow.acting .pageBox {
  width: 88%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 5vw auto;
}
html body .filter .jumpWindow.acting .pageBox i {
  width: 3vw;
  height: 3vw;
}
html body .filter .jumpWindow.acting .pageBox i.arrow_right {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}
html body .filter .jumpWindow.acting .pageBox ul {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 2vw;
}
html body .filter .jumpWindow.acting .pageBox ul li {
  width: 6vw;
  height: 6vw;
  background: transparent;
  border: solid 1px #ffffff;
  border-radius: 3px;
  color: #ffffff;
  font-size: 3vw;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin-right: 2vw;
}
html body .filter .jumpWindow.acting .pageBox ul li:active, html body .filter .jumpWindow.acting .pageBox ul li.active {
  background: #1d46a4;
  border-color: #1d46a4;
}
html body .filter .jumpWindow.acting .pageBox ul li:last-child {
  margin: 0;
}
html body .filter .jumpWindow.actingDetail .content {
  width: 92%;
  height: auto;
  background: #ffffff;
  border: solid 1px #fff8c1;
  margin: 5vw auto 0;
  overflow-x: auto;
}
html body .filter .jumpWindow.actingDetail .content table {
  width: auto;
  height: auto;
}
html body .filter .jumpWindow.actingDetail .content table tr:last-child td {
  background: #1d3c83;
  border: none;
}
html body .filter .jumpWindow.actingDetail .content table tr:last-child td p {
  color: #ffffff;
}
html body .filter .jumpWindow.actingDetail .content table tr:last-child td p::before {
  background: #ffffff;
}
html body .filter .jumpWindow.actingDetail .content table tr th {
  width: auto;
  height: 10vw;
  background: -webkit-gradient(linear, left bottom, left top, from(#9a6221), color-stop(49%, #6e4111), to(#9a6221));
  background: linear-gradient(to top, #9a6221 0%, #6e4111 49%, #9a6221 100%);
  vertical-align: middle;
}
html body .filter .jumpWindow.actingDetail .content table tr th:last-child p {
  border: none;
}
html body .filter .jumpWindow.actingDetail .content table tr th p {
  width: 100%;
  border-right: solid 1px #fff8c1;
  color: #ffffff;
  font-size: 3.7vw;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}
html body .filter .jumpWindow.actingDetail .content table tr td {
  width: auto;
  min-width: 24vw;
  height: 10vw;
  border-bottom: solid 1px #b39c77;
  vertical-align: middle;
}
html body .filter .jumpWindow.actingDetail .content table tr td:last-child p::before {
  display: none;
}
html body .filter .jumpWindow.actingDetail .content table tr td p {
  width: 100%;
  color: #252525;
  font-size: 3.7vw;
  font-weight: bold;
  text-align: center;
  line-height: 5vw;
  white-space: nowrap;
  position: relative;
  padding: 0 5vw;
}
html body .filter .jumpWindow.actingDetail .content table tr td p::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1px;
  height: 4vw;
  background: #b39c77;
}
html body .filter .jumpWindow.actingDetail .content table tr td p.win {
  color: #019e0f;
}
html body .filter .jumpWindow.actingDetail .content table tr td p.lose {
  color: #e71111;
}
html body .filter .jumpWindow.actingDetail .content table tr td p.allWin {
  color: #20ff34;
}
html body .filter .jumpWindow.actingDetail .content table tr td p.allLose {
  color: #ff5842;
}
html body .filter .jumpWindow.actingDetail .content table tr td p span {
  color: #ff5b0b;
}
html body .filter .jumpWindow.actingDetail .content table tr td p span.code {
  color: #888888;
}
html body .filter .jumpWindow.actingDetail .content table tr td p span.vs {
  color: #b0852c;
}
html body .filter .jumpWindow.actingDetail .content table tr td p span.mainTeam {
  color: #0926ff;
}
html body .filter .jumpWindow.actingDetail .pageBox {
  width: 88%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 5vw auto;
}
html body .filter .jumpWindow.actingDetail .pageBox i {
  width: 3vw;
  height: 3vw;
}
html body .filter .jumpWindow.actingDetail .pageBox i.arrow_right {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}
html body .filter .jumpWindow.actingDetail .pageBox ul {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 2vw;
}
html body .filter .jumpWindow.actingDetail .pageBox ul li {
  width: 6vw;
  height: 6vw;
  background: transparent;
  border: solid 1px #ffffff;
  border-radius: 3px;
  color: #ffffff;
  font-size: 3vw;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin-right: 2vw;
}
html body .filter .jumpWindow.actingDetail .pageBox ul li:active, html body .filter .jumpWindow.actingDetail .pageBox ul li.active {
  background: #1d46a4;
  border-color: #1d46a4;
}
html body .filter .jumpWindow.actingDetail .pageBox ul li:last-child {
  margin: 0;
}
html body main {
  width: 100%;
  height: 100%;
  padding-top: 42px;
}
html body .bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999;
}