header {
    width: 100%;
    height: 42px;
    background: $header_BG;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    .center {
        width: 65%;
        height: 35px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        &::before,&::after {
            content: "";
            position: absolute;
            top: 0;
            width: 11px;
            height: 100%;
        }
        &::before {
            left: -11px;
        }
        &::after {
            right: -11px;
        }

        p {
            color: $header_Color;
            font-size: 18px;
            font-weight: bold;
            margin-top: -5px;

            span {
                margin-left: 5px;
            }
        }
    }
}