.bg {
    background: url('../images/bg_01.jpg') no-repeat top center;
    background-size: cover;
}

header .center {
    background: url('../images/smallBG_02.png');
    background-size: contain;
}
header .center::before {
    background: url('../images/smallBG_01.png') no-repeat;
    background-size: contain;
}
header .center::after {
    background: url('../images/smallBG_03.png') no-repeat;
    background-size: contain;
}

footer i {
    background: url('../images/footer_typeIC.png') no-repeat;
    background-size: 300%;
}

.mainArea .dateBox .date_month_num.zero {
    background: url('../images/date/zero.png') no-repeat center;
    background-size: contain;
}
.mainArea .dateBox .date_month_num.one {
    background: url('../images/date/one.png') no-repeat center;
    background-size: contain;
}
.mainArea .dateBox .date_month_num.two {
    background: url('../images/date/two.png') no-repeat center;
    background-size: contain;
}
.mainArea .dateBox .date_month_num.three {
    background: url('../images/date/three.png') no-repeat center;
    background-size: contain;
}
.mainArea .dateBox .date_month_num.four {
    background: url('../images/date/four.png') no-repeat center;
    background-size: contain;
}
.mainArea .dateBox .date_month_num.five {
    background: url('../images/date/five.png') no-repeat center;
    background-size: contain;
}
.mainArea .dateBox .date_month_num.six {
    background: url('../images/date/six.png') no-repeat center;
    background-size: contain;
}
.mainArea .dateBox .date_month_num.seven {
    background: url('../images/date/seven.png') no-repeat center;
    background-size: contain;
}
.mainArea .dateBox .date_month_num.eight {
    background: url('../images/date/eight.png') no-repeat center;
    background-size: contain;
}
.mainArea .dateBox .date_month_num.nine {
    background: url('../images/date/nine.png') no-repeat center;
    background-size: contain;
}
.mainArea .dateBox .date_day_num.zero {
    background: url('../images/date/zero.png') no-repeat center;
    background-size: contain;
}
.mainArea .dateBox .date_day_num.one {
    background: url('../images/date/one.png') no-repeat center;
    background-size: contain;
}
.mainArea .dateBox .date_day_num.two {
    background: url('../images/date/two.png') no-repeat center;
    background-size: contain;
}
.mainArea .dateBox .date_day_num.three {
    background: url('../images/date/three.png') no-repeat center;
    background-size: contain;
}
.mainArea .dateBox .date_day_num.four {
    background: url('../images/date/four.png') no-repeat center;
    background-size: contain;
}
.mainArea .dateBox .date_day_num.five {
    background: url('../images/date/five.png') no-repeat center;
    background-size: contain;
}
.mainArea .dateBox .date_day_num.six {
    background: url('../images/date/six.png') no-repeat center;
    background-size: contain;
}
.mainArea .dateBox .date_day_num.seven {
    background: url('../images/date/seven.png') no-repeat center;
    background-size: contain;
}
.mainArea .dateBox .date_day_num.eight {
    background: url('../images/date/eight.png') no-repeat center;
    background-size: contain;
}
.mainArea .dateBox .date_day_num.nine {
    background: url('../images/date/nine.png') no-repeat center;
    background-size: contain;
}
.mainArea .dateBox .date_month_word {
    background: url('../images/date/month.png') no-repeat center;
    background-size: contain;
}
.mainArea .dateBox .date_day_word {
    background: url('../images/date/day.png') no-repeat center;
    background-size: contain;
}
.mainArea .bonusBox .moneyBox {
    background: url('../images/bonus_BG.png') no-repeat center;
    background-size: contain;
}
.mainArea .moneyBox i.zero {
    background: url('../images/bonus/zero.png') no-repeat center;
    background-size: contain;
}
.mainArea .moneyBox i.one {
    background: url('../images/bonus/one.png') no-repeat center;
    background-size: contain;
}
.mainArea .moneyBox i.two {
    background: url('../images/bonus/two.png') no-repeat center;
    background-size: contain;
}
.mainArea .moneyBox i.three {
    background: url('../images/bonus/three.png') no-repeat center;
    background-size: contain;
}
.mainArea .moneyBox i.four {
    background: url('../images/bonus/four.png') no-repeat center;
    background-size: contain;
}
.mainArea .moneyBox i.five {
    background: url('../images/bonus/five.png') no-repeat center;
    background-size: contain;
}
.mainArea .moneyBox i.six {
    background: url('../images/bonus/six.png') no-repeat center;
    background-size: contain;
}
.mainArea .moneyBox i.seven {
    background: url('../images/bonus/seven.png') no-repeat center;
    background-size: contain;
}
.mainArea .moneyBox i.eight {
    background: url('../images/bonus/eight.png') no-repeat center;
    background-size: contain;
}
.mainArea .moneyBox i.nine {
    background: url('../images/bonus/nine.png') no-repeat center;
    background-size: contain;
}

.jumpWindow .close::before {
    background: url('../images/jumpWindow_close.png') no-repeat center;
    background-size: contain;
}
.jumpWindow .pageBox i {
    background: url('../images/pageBox_arrow.png') no-repeat center;
    background-size: contain;
}
.jumpWindow.rule .img {
    background: url('../images/ruleImg.jpg') no-repeat;
    background-size: contain;
}

.selectBox .arrow_ic {
    background: url('../images/arrow_1.png') no-repeat center;
    background-size: contain;
}
.inputBox .date_ic {
    background: url('../images/date.png') no-repeat center;
    background-size: contain;
}

//國旗
.flag_America {
    background: url('../images/flag/America.png') no-repeat center;
    background-size: 100%;
}
.flag_Arabia {
    background: url('../images/flag/Arabia.png') no-repeat center;
    background-size: 100%;
}
.flag_Argentina {
    background: url('../images/flag/Argentina.png') no-repeat center;
    background-size: 100%;
}
.flag_Australia {
    background: url('../images/flag/Ar.Australia.png') no-repeat center;
    background-size: 100%;
}
.flag_Belgium {
    background: url('../images/flag/Ar.Belgium.png') no-repeat center;
    background-size: 100%;
}
.flag_Brazil {
    background: url('../images/flag/Brazil.png') no-repeat center;
    background-size: 100%;
}
.flag_Cameroon {
    background: url('../images/flag/Cameroon.png') no-repeat center;
    background-size: 100%;
}
.flag_Canada {
    background: url('../images/flag/Canada.png') no-repeat center;
    background-size: 100%;
}
.flag_CostaRica {
    background: url('../images/flag/CostaRica.png') no-repeat center;
    background-size: 100%;
}
.flag_Croatia {
    background: url('../images/flag/Croatia.png') no-repeat center;
    background-size: 100%;
}
.flag_Denmark {
    background: url('../images/flag/Denmark.png') no-repeat center;
    background-size: 100%;
}
.flag_Ecuador {
    background: url('../images/flag/Ecuador.png') no-repeat center;
    background-size: 100%;
}
.flag_England {
    background: url('../images/flag/England.png') no-repeat center;
    background-size: 100%;
}
.flag_Franch {
    background: url('../images/flag/Franch.png') no-repeat center;
    background-size: 100%;
}
.flag_Germany {
    background: url('../images/flag/Germany.png') no-repeat center;
    background-size: 100%;
}
.flag_Ghana {
    background: url('../images/flag/Ghana.png') no-repeat center;
    background-size: 100%;
}
.flag_Iran {
    background: url('../images/flag/Iran.png') no-repeat center;
    background-size: 100%;
}
.flag_Japan {
    background: url('../images/flag/Japan.png') no-repeat center;
    background-size: 100%;
}
.flag_Korea {
    background: url('../images/flag/Korea.png') no-repeat center;
    background-size: 100%;
}
.flag_Mexico {
    background: url('../images/flag/Mexico.png') no-repeat center;
    background-size: 100%;
}
.flag_Morocco {
    background: url('../images/flag/Morocco.png') no-repeat center;
    background-size: 100%;
}
.flag_Netherlands {
    background: url('../images/flag/Netherlands.png') no-repeat center;
    background-size: 100%;
}
.flag_Poland {
    background: url('../images/flag/Poland.png') no-repeat center;
    background-size: 100%;
}
.flag_Portugal {
    background: url('../images/flag/Portugal.png') no-repeat center;
    background-size: 100%;
}
.flag_Qatar {
    background: url('../images/flag/Qatar.png') no-repeat center;
    background-size: 100%;
}
.flag_Senegal {
    background: url('../images/flag/Senegal.png') no-repeat center;
    background-size: 100%;
}
.flag_Serbian {
    background: url('../images/flag/Serbian.png') no-repeat center;
    background-size: 100%;
}
.flag_Spain {
    background: url('../images/flag/Spain.png') no-repeat center;
    background-size: 100%;
}
.flag_Switzerland {
    background: url('../images/flag/Switzerland.png') no-repeat center;
    background-size: 100%;
}
.flag_Tunisia {
    background: url('../images/flag/Tunisia.png') no-repeat center;
    background-size: 100%;
}
.flag_Uruguay {
    background: url('../images/flag/Uruguay.png') no-repeat center;
    background-size: 100%;
}
.flag_Wales {
    background: url('../images/flag/Wales.png') no-repeat center;
    background-size: 100%;
}