//累積獎金背景
.mainWrap .imgBox {
    background: url('../images/prize.gif') no-repeat;
}
.mainWrap .imgBox li.empty {
    background: url('../images/num_gray.png') no-repeat;
}
.mainWrap .imgBox li {
    background: url('../images/num_gold.png') no-repeat;
}
.info_BG .imgBox {
    background: url('../images/info_prize.png') no-repeat top center;
    background-size: contain;
}
.info_BG .imgBox li.empty {
    background: url('../images/info_num_trans.png') no-repeat;
}
.info_BG .imgBox li {
    background: url('../images/info_num_blue.png') no-repeat;
}

//info
.info_BG {
    background: url('../images/info_BG.png') no-repeat top center;
    background-size: cover;
}
.infoWrap .immInfo .time_ic {
    background: url('../images/info_timeIC.png') no-repeat;
    background-size: contain;
}
.infoWrap .immInfo .arrow_ic,
.infoWrap .lotteryBox .arrow_ic {
    background: url('../images/info_dbArrowIC.png') no-repeat;
    background-size: contain;
}


//img

//logo
header .logo {
    height: 42px;
    object-fit: contain;
}
header .logo.info {
    height: 36px;
    object-fit: contain;
}