//infoWrap
.infoWrap {
    width: 100%;
    height: auto;
    padding-top: 391px;

    //article
    article {
        width: 1000px;
        height: auto;
        margin: 0 auto;
        position: relative;

        //內容
        .content {
            width: 1000px;
            height: auto;
            background: $info_BG;
            border-radius: 10px 10px 0 0;
            box-shadow: 0 0 10px 2px $info_Shadow;
            box-sizing: border-box;
            padding: 20px 0;
            margin: 0 auto;

            //即時投注
            .immediateBox {
                width: 850px;
                height: auto;
                background: $info_innerBG;
                box-shadow: 0 0 10px 2px $info_Shadow inset;
                border-radius: 10px 10px 0 0;
                overflow: hidden;
                margin: 0 auto 30px;

                .title {
                    width: 100%;
                    height: 45px;
                    background: $header_BG;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    p {
                        color: $header_Word;
                        font-size: 23px;
                        font-weight: bold;
                    }
                }

                //即時回傳內容
                .immInfo {
                    width: 100%;
                    height: auto;
                    box-sizing: border-box;
                    padding: 0 16px;

                    //標頭
                    .name {
                        width: 100%;
                        height: 50px;
                        display: flex;
                        align-items: center;

                        li {
                            color: $info_immediate_Title;
                            font-size: 20px;
                            font-weight: bold;
                            text-align: center;

                            &:nth-of-type(1),
                            &:nth-of-type(2) {
                                width: 30%;
                            }
                            &:nth-of-type(3) {
                                width: 40%;
                            }
                        }
                    }

                    //內容
                    .betBox {
                        width: 100%;
                        height: 695px;
                        margin-bottom: 20px;
                        overflow-y: auto;
                        transition: 0.3s all;
                        @include scrollBar_2;

                        &.active {
                            height: 1200px;
                        }

                        ul {
                            width: 100%;
                            height: auto;

                            li {
                                width: 100%;
                                height: 58px;
                                background: $info_BG;
                                box-shadow: 0 1px 3px 0 $info_Shadow;
                                display: flex;
                                margin-bottom: 5px;

                                &:last-child {
                                    margin: 0;
                                }

                                div {
                                    height: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;

                                    &:nth-of-type(1),
                                    &:nth-of-type(2) {
                                        width: 30%;
                                    }
                                    &:nth-of-type(3) {
                                        width: 40%;
                                    }

                                    p {
                                        color: $mainWord_2;
                                        font-size: 20px;
                                        font-weight: bold;
                                    }

                                    span {
                                        width: 45px;
                                        height: 45px;
                                        @include ballBtn;
                                        font-size: 23px;
                                        margin: 0 5px;
                                    }
                                }
                            }
                        }
                    }

                    //按鈕區
                    .btnBox {
                        width: 100%;
                        height: auto;
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 20px;
                        position: relative;

                        button {
                            width: auto;
                            min-width: 98px;
                            height: 35px;
                            @include redBtn;

                            &.time {

                                i {
                                    display: block;
                                    width: 12px;
                                    height: 12px;
                                    margin: 0 8px;
                                }

                                span {
                                    width: 46px;
                                    height: 22px;
                                }
                            }

                            &.more {
                                @include yellowBtn;
                                position: absolute;
                                left: 50%;
                                transform: translateX(-50%);
                                display: none;

                                &.display {
                                    display: flex;
                                }

                                i {
                                    display: block;
                                    width: 11px;
                                    height: 11px;
                                    margin-left: 8px;

                                    &.turn {
                                        transform: scaleY(-1);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            //開獎資訊
            .lotteryBox {
                width: 850px;
                height: auto;
                background: $info_innerBG;
                box-shadow: 0 0 10px 2px $info_Shadow inset;
                border-radius: 10px 10px 0 0;
                overflow: hidden;
                margin: 0 auto 30px;

                .title {
                    width: 100%;
                    height: 45px;
                    background: $header_BG;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    p {
                        color: $header_Word;
                        font-size: 23px;
                        font-weight: bold;
                    }
                }

                .outerBox {
                    width: 100%;
                    height: 378px;
                    transition: 0.3s all;
                    @include scrollBar_2;

                    &.active {
                        height: 800px;
                        padding-bottom: 10px;
                        overflow-y: auto;
                    }

                    //資訊欄
                    .lottoInfo {
                        width: 100%;
                        height: auto;
                        box-sizing: border-box;
                        padding: 0 16px;
                        display: none;

                        &.display {
                            display: block;
                        }

                        //開獎列
                        .ballBox {
                            width: 100%;
                            height: auto;
                            box-shadow: 0 2px 10px 0 $info_Shadow;
                            margin-top: 16px;

                            .smallTitle {
                                width: 100%;
                                height: 45px;
                                background: $home_TitleBG;
                                display: flex;
                                align-items: center;
                                justify-content: center;
            
                                p {
                                    color: $home_Title;
                                    font-size: 20px;
                                    font-weight: bold;
                                }
                            }

                            //主內容
                            .lottoBox {
                                width: 100%;
                                height: auto;
                                border: solid 1px $mainBorder_1;

                                table {
                                    width: 100%;
                                    height: auto;
                                    background: $info_BG;

                                    tr {
                                        width: 100%;
                                        height: 65px;
                                        border-bottom: solid 1px $mainBorder_1;

                                        &:last-child {
                                            border: none;
                                        }

                                        th {
                                            border-right: solid 1px $mainBorder_1;
                                            vertical-align: middle;

                                            &:last-child {
                                                border: none;
                                            }

                                            p {
                                                color: $mainWord_2;
                                                font-size: 18px;
                                                font-weight: bold;

                                                &:last-child {
                                                    margin-top: 5px;
                                                }
                                            }
                                        }

                                        td {
                                            border-right: solid 1px $mainBorder_1;
                                            vertical-align: middle;

                                            &:last-child {
                                                border: none;
                                            }

                                            p {
                                                color: $mainWord_2;
                                                font-size: 18px;
                                                font-weight: bold;
                                                text-align: center;
                                            }

                                            div {
                                                width: 100%;
                                                height: 100%;
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;

                                                span {
                                                    width: 52px;
                                                    height: 52px;
                                                    @include ballBtn;
                                                    font-size: 25px;
                                                    margin: 0 20px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        //獎金列
                        .pointBox {
                            width: 100%;
                            height: auto;
                            margin-top: 16px;

                            table {
                                width: 100%;
                                height: auto;
                                background: $info_BG;
                                box-shadow: 0 0 0 1px $mainBorder_1,0 2px 10px 0 $info_Shadow;
                                overflow: hidden;

                                tr {
                                    width: 100%;
                                    height: 40px;

                                    &:last-child {

                                        td {
                                            border-bottom: none;
                                        }
                                    }

                                    th {
                                        background: $home_TitleBG;
                                        border-bottom: solid 1px $mainBorder_1;
                                        vertical-align: middle;

                                        p {
                                            color: $home_Title;
                                            font-size: 20px;
                                            font-weight: bold;
                                        }
                                    }

                                    td {
                                        width: 12%;
                                        border-style: solid;
                                        border-width: 0 1px 1px 0;
                                        border-color: $mainBorder_1;
                                        box-sizing: border-box;
                                        vertical-align: middle;

                                        &.big {
                                            width: 18%;
                                            border-bottom: none;
                                        }
                                        &.word {
                                            width: 16%;
                                        }

                                        &:last-child {
                                            border-right: none;
                                        }

                                        p {
                                            color: $mainWord_2;
                                            font-size: 17px;
                                            font-weight: bold;
                                            text-align: center;
                                        }
                                    }
                                }
                            }
                        }

                        //分隔線
                        hr {
                            border: solid 1px $info_Separate;
                            margin: 16px 0;
                        }
                    }
                }

                //查看更多
                .more {
                    width: 154px;
                    height: 35px;
                    @include yellowBtn;
                    display: none;
                    align-items: center;
                    justify-content: center;
                    margin: 25px auto;

                    &.display {
                        display: flex;
                    }

                    &.close {

                        i {
                            transform: scaleY(-1);
                        }
                    }

                    i {
                        display: block;
                        width: 11px;
                        height: 11px;
                        margin-left: 8px;
                    }
                }
            }

            //最下字
            .bottomWord {
                width: 100%;
                color: $info_BottomWord;
                font-size: 15px;
                font-weight: bold;
                text-align: center;
                margin: 80px 0 30px;
            }
        }
    }
}

//背景
.info_BG {
    width: 100%;
    min-width: 1000px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;

    //獎池圖
    .imgBox {
        width: 1248px;
        height: 315px;
        font-size: 0;
        position: absolute;
        top: 65px;
        left: 50%;
        transform: translateX(-50%);

        ul {
          width: 774px;
          height: 44px;
          position: absolute;
          bottom: 106px;
          left: 50%;
          transform: translateX(-50%);
          display: flex;
          flex-direction: row-reverse;
          padding-right: 65px;

          li {
            width: 31px;
            height: 100%;
            margin-left: 37px;

            &:nth-of-type(5) {
                margin-left: 38px;
            }
            &:last-child {
                margin: 0;
            }

            &.empty {
                background-position-y: 90%;
            }
            &.num_1 {
                background-position-y: 0;
            }
            &.num_2 {
                background-position-y: 10%;
            }
            &.num_3 {
                background-position-y: 20%;
            }
            &.num_4 {
                background-position-y: 30%;
            }
            &.num_5 {
                background-position-y: 40%;
            }
            &.num_6 {
                background-position-y: 50%;
            }
            &.num_7 {
                background-position-y: 60%;
            }
            &.num_8 {
                background-position-y: 70%;
            }
            &.num_9 {
                background-position-y: 80%;
            }

            &.anime_1 {
                animation: numMove_1 3s ease-in-out 0s alternate-reverse infinite;
            }

            @keyframes numMove_1 {
                0% {
                    background-position-y: 0;
                }

                100% {
                    background-position-y: 90%;
                }
            }
          }
        }
    }
}