.filter {
    width: 100%;
    min-width: 1050px;
    height: 100%;
    background: $filter;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;

    &.display {
        display: flex;
    }

    .jumpWindow {
        background: $jumpWindow_BG;
        border-radius: 12px;
        border: solid 1px $jumpWindow_Border;
        overflow: hidden;
        display: none;
        margin-bottom: 100px;

        &.display {
            display: block;
        }

        .title {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            p {
                color: $jumpWindow_TitleColor;
                font-size: 25px;
                font-weight: bold;
            }

            i {
                width: 50px;
                height: 50px;
                background: $jumpWindow_CloseBG;
                border: solid 1px $jumpWindow_Border;
                border-width: 0 0 1px 1px;
                border-radius: 0 12px 0 0;
                position: absolute;
                right: 0;
                top: 0;
                cursor: pointer;

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    width: 21px;
                    height: 21px;
                }
            }
        }

        &.record {
            width: 800px;
            height: 530px;

            .content {
                width: 100%;
                height: auto;
                padding: 32px 32px 0;

                .topList {
                    width: 100%;
                    height: auto;
                    border-bottom: solid 3px $jumpWindow_topList_Border;
                    display: flex;
                    margin-bottom: 20px;

                    li {
                        width: 80px;
                        height: 37px;
                        @include topList;
                        margin-right: 8px;
                    }
                }

                .recordBox {
                    width: 100%;
                    height: auto;
                    border: solid 1px $jumpWindow_Table_Border;

                    .smallTitle {
                        width: 100%;
                        height: 40px;

                        ul {
                            width: 100%;
                            height: 100%;
                            background: $jumpWindow_Table_TitleBG;
                            display: flex;
                            align-items: center;
                            padding-right: 5px;

                            li {
                                border-right: solid 1px $jumpWindow_Table_Border;
                                color: $jumpWindow_Table_TitleColor;
                                font-size: 18px;
                                font-weight: bold;
                                text-align: center;

                                &:nth-of-type(1) {
                                    width: 20%;
                                }
                                &:nth-of-type(2) {
                                    width: 25%;
                                }
                                &:nth-of-type(3) {
                                    width: 15%;
                                }
                                &:nth-of-type(4) {
                                    width: 20%;
                                }
                                &:last-child {
                                    width: 20%;
                                    border: none;
                                }
                            }
                        }
                    }

                    .outerBox {
                        width: 100%;
                        height: 240px;
                        background: $jumpWindow_Table_BG;
                        padding-right: 5px;

                        .tableBox {
                            width: 100%;
                            height: 100%;
                            overflow-y: overlay;
                            @include scrollBar_2;

                            ul {
                                width: 100%;
                                height: auto;
                                
                                li {
                                    width: 100%;
                                    height: 40px;
                                    border-bottom: solid 1px $jumpWindow_Table_innerBorder;
                                    display: flex;
                                    align-items: center;

                                    &:last-child {
                                        border: none;
                                    }

                                    p {
                                        border-right: solid 1px $jumpWindow_Table_Border;
                                        color: $jumpWindow_Table_Color;
                                        font-size: 20px;
                                        font-weight: bold;
                                        text-align: center;

                                        &:nth-of-type(1) {
                                            width: 20%;
                                        }
                                        &:nth-of-type(2) {
                                            width: 25%;
                                        }
                                        &:nth-of-type(3) {
                                            width: 15%;
                                        }
                                        &:nth-of-type(4) {
                                            width: 20%;
                                        }
                                        &:last-child {
                                            width: 20%;
                                            border: none;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .total {
                        width: 100%;
                        height: 40px;
                        background: $jumpWindow_Table_totalBG;
                        display: flex;
                        padding-right: 5px;

                        li {
                            height: 100%;
                            display: flex;
                            align-items: center;

                            &:nth-of-type(1) {
                                width: 20%;

                                p {
                                    border-right: solid 1px $jumpWindow_Table_totalBorder;
                                }
                            }
                            &:nth-of-type(2) {
                                width: 25%;
                            }
                            &:nth-of-type(3) {
                                width: 15%;
                            }
                            &:nth-of-type(4) {
                                width: 20%;
                            }
                            &:last-child {
                                width: 20%;
                            }

                            p {
                                width: 100%;
                                color: $jumpWindow_Table_totalColor;
                                font-size: 18px;
                                font-weight: bold;
                                text-align: center;
                            }
                        }
                    }
                }

                .pageBox {
                    width: 100%;
                    height: auto;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    margin-top: 10px;

                    i {
                        width: 7px;
                        height: 9px;
                        cursor: pointer;

                        &.arrow_right {
                            transform: scaleX(-1);
                        }
                    }

                    ul {
                        width: auto;
                        height: auto;
                        display: flex;
                        margin: 0 10px;

                        li {
                            width: 22px;
                            height: 22px;
                            @include pageBox;
                            margin-right: 10px;

                            &:last-child {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }

        &.rule {
            width: 785px;
            height: 540px;

            .content {
                width: 100%;
                height: auto;
                padding: 32px 32px 0;

                .textBox {
                    width: 100%;
                    height: 350px;
                    background: $jumpWindow_Table_BG;

                    .outerBox {
                        width: 100%;
                        height: 100%;
                        padding-right: 5px;

                        .ruleBox {
                            width: 100%;
                            height: 100%;
                            overflow-y: overlay;
                            padding: 16px;
                            @include scrollBar_2;

                            p {
                                color: $jumpWindow_Table_Color;
                                font-size: 20px;
                                font-weight: bold;
                                line-height: 32px;

                                &.mar {
                                    margin-bottom: 20px;
                                }
                            }

                            .imgBox {
                                width: 100%;
                                height: auto;
                                display: flex;
                                margin: 20px 0;

                                .img {
                                    width: 254px;
                                    height: 358px;
                                    flex-shrink: 0;
                                    margin-right: 20px;
                                }

                                .textBox {
                                    height: auto;

                                    p {

                                        &.mainTeam {
                                            color: $jumpWindow_rule_mainTeamColor;
                                        }
                                        &.cusTeam {
                                            color: $jumpWindow_rule_cusTeamColor;
                                        }

                                        span {
                                            display: inline-block;
                                            color: $jumpWindow_rule_remindColor;
                                            padding: 3px 10px;

                                            &.mainWin {
                                                background: $jumpWindow_rule_mainWinBG;
                                            }
                                            &.cusWin {
                                                background: $jumpWindow_rule_cusWinBG;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .check {
                    width: 242px;
                    height: 47px;
                    @include checkBtn;
                    display: block;
                    margin: 30px auto 0;
                }
            }
        }

        &.betting {
            width: 412px;
            height: 440px;

            .content {
                width: 100%;
                height: auto;
                padding: 16px 24px 0;

                .bettingBox {
                    width: 100%;
                    height: auto;
                    background: $jumpWindow_Table_BG;
                    border: solid 1px $jumpWindow_Table_Border_2;

                    .smallTitle {
                        width: 100%;
                        height: 40px;

                        ul {
                            width: 100%;
                            height: 100%;
                            background: $jumpWindow_Table_TitleBG;
                            display: flex;

                            li {
                                width: 100%;
                                height: 100%;
                                color: $jumpWindow_Table_TitleColor;
                                font-size: 18px;
                                font-weight: bold;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }

                    .teamBox {
                        width: 100%;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        i {
                            width: 41px;
                            height: 26px;
                            filter: drop-shadow(0 2px 1px #00000080);
                            margin-right: 10px;
                        }

                        p {
                            color: $jumpWindow_Table_Color;
                            font-size: 18px;
                            font-weight: bold;
                        }
                    }

                    .bettingCnt {
                        width: 100%;
                        height: auto;

                        .inputBox {
                            display: block;
                            width: 100%;
                            height: auto;
                            text-align: center;
                            margin: 10px 0 15px;

                            input {
                                width: 210px;
                                height: 35px;
                                @include inputStyle_1;
                            }
                        }

                        .btnBox {
                            width: 100%;
                            height: auto;
                            display: grid;
                            grid-template-columns: repeat(4,1fr);
                            gap: 8px;
                            padding: 0 10px 10px;

                            button {
                                width: auto;
                                height: 35px;
                                @include betBtn;

                                &:last-child {
                                    grid-column-start: -1;
                                    grid-column-end: 3;
                                }
                            }
                        }
                    }
                }

                .lastBox {
                    width: 100%;
                    height: auto;
                    margin-top: 26px;

                    button {
                        width: 242px;
                        height: 47px;
                        @include checkBtn;
                        display: block;
                        margin: 0 auto;
                    }
                }
            }
        }

        &.acting {
            width: 1000px;
            height: auto;

            .topBox {
                width: 92%;
                height: auto;
                border-bottom: solid 3px $jumpWindow_topList_Border;
                padding: 10px 5px;
                margin: 0 auto 20px;

                .row {
                    width: 100%;
                    height: auto;
                    display: flex;
                    align-items: center;
                    position: relative;
                    margin-bottom: 8px;

                    &:last-child {
                        margin: 0;
                    }

                    .smallTitle {
                        width: 85px;
                        color: $jumpWindow_TitleColor;
                        font-size: 17px;
                        font-weight: bold;
                    }

                    .selectBox {
                        display: block;
                        width: 284px;
                        height: 45px;
                        position: relative;

                        select {
                            width: 100%;
                            height: 100%;
                            @include selectStyle_1;
                        }

                        i {
                            width: 18px;
                            height: 10px;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            right: 10px;
                            pointer-events: none;
                        }
                    }

                    .inputBox {
                        width: 284px;
                        height: 45px;
                        @include inputStyle_2;

                        input {
                            background: none;
                            border: none;
                            color: $inputStyle_2_Color;
                            font-size: 15px;
                            font-weight: bold;
                        }

                        p {
                            color: $inputStyle_2_midColor;
                            font-size: 17px;
                            font-weight: bold;
                            margin-right: 10px;
                        }

                        i {
                            width: 18px;
                            height: 18px;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            right: 10px;
                            pointer-events: none;
                        }
                    }

                    .btnBox {
                        width: auto;
                        height: auto;
                        display: flex;

                        button {
                            width: 60px;
                            height: 42px;
                            @include betBtn;
                            margin-right: 5px;
                            
                            &:first-child {
                                margin-left: 8px;
                            }
                        }
                    }

                    .check {
                        width: 130px;
                        height: 42px;
                        @include checkBtn;
                        position: absolute;
                        right: -5px;
                    }
                }
            }

            .content {
                width: 92%;
                height: auto;
                background: $jumpWindow_Table_BG;
                border: solid 1px $jumpWindow_Table_Border;
                display: flex;
                margin: 0 auto;

                .left {
                    width: auto;
                    height: auto;
                    flex-shrink: 0;

                    table {
                        width: auto;
                        height: auto;

                        tr {

                            &:first-child {
                                
                                td {
                                    background: $jumpWindow_Table_TitleBG;
                                    border: none;
        
                                    p {
                                        border-color: $jumpWindow_Border;
                                        color: $jumpWindow_Table_TitleColor;
                                    }
                                }
                            }
                            &:last-child {
                                
                                td {
                                    height: 60px;
                                    background: $jumpWindow_Table_totalBG;
                                    border: none;
        
                                    p {
                                        color: $jumpWindow_Table_totalColor;
                                        border-color: $jumpWindow_Table_totalBorder;
                                    }
                                }
                            }

                            td {
                                width: auto;
                                min-width: 120px;
                                height: 40px;
                                border-bottom: solid 1px $jumpWindow_Table_innerBorder;
                                vertical-align: middle;
        
                                p {
                                    width: 100%;
                                    border-right: solid 1px $jumpWindow_Table_innerBorder;
                                    color: $jumpWindow_Table_Color;
                                    font-size: 18px;
                                    font-weight: bold;
                                    text-align: center;
                                    white-space: nowrap;
                                    padding: 0 20px;

                                    span {
                                        color: $jumpWindow_Table_firstColor;
                                    }
                                }
                            }
                        }
                    }
                }

                .right {
                    width: 100%;
                    height: auto;
                    overflow-x: overlay;
                    @include scrollBar_3;

                    table {
                        width: auto;
                        height: auto;

                        tr {

                            &:last-child {

                                td {
                                    height: 60px;
                                    background: $jumpWindow_Table_totalBG;
                                    border: none;

                                    p {
                                        border-color: $jumpWindow_Table_totalBorder;
                                        color: $jumpWindow_Table_totalColor;

                                        &.allWin {
                                            color: $jumpWindow_acting_allWinColor;
                                        }
                                        &.allLose {
                                            color: $jumpWindow_acting_allLoseColor;
                                        }
                                    }
                                }
                            }
                            
                            th {
                                height: 40px;
                                background: $jumpWindow_Table_TitleBG;
                                vertical-align: middle;

                                &:last-child {
                                    
                                    p {
                                        border: none;
                                    }
                                }
    
                                p {
                                    width: 100%;
                                    border-right: solid 1px $jumpWindow_Table_Border;
                                    color: $jumpWindow_Table_TitleColor;
                                    font-size: 18px;
                                    font-weight: bold;
                                    text-align: center;
                                    white-space: nowrap;
                                }
                            }

                            td {
                                width: auto;
                                min-width: 120px;
                                height: 40px;
                                border-bottom: solid 1px $jumpWindow_Table_innerBorder;
                                vertical-align: middle;

                                &:last-child {
                                    
                                    p {
                                        border: none;
                                    }
                                }

                                p {
                                    width: 100%;
                                    border-right: solid 1px $jumpWindow_Table_innerBorder;
                                    color: $jumpWindow_Table_Color;
                                    font-size: 18px;
                                    font-weight: bold;
                                    text-align: center;
                                    white-space: nowrap;
                                    padding: 0 30px;

                                    &.win {
                                        color: $jumpWindow_acting_winColor;
                                    }
                                    &.lose {
                                        color: $jumpWindow_acting_allLoseColor;
                                    }

                                    &.clickable {
                                        color: $jumpWindow_Table_firstColor;
                                        text-decoration: underline;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .pageBox {
                width: 92%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin: 0 auto;
                padding: 20px 0;

                i {
                    width: 7px;
                    height: 9px;
                    cursor: pointer;

                    &.arrow_right {
                        transform: scaleX(-1);
                    }
                }

                ul {
                    width: auto;
                    height: auto;
                    display: flex;
                    margin: 0 10px;

                    li {
                        width: 22px;
                        height: 22px;
                        @include pageBox;
                        margin-right: 10px;

                        &:last-child {
                            margin: 0;
                        }
                    }
                }
            }
        }

        &.actingDetail {
            width: 1000px;
            height: auto;

            .content {
                width: 92%;
                height: auto;
                background: $jumpWindow_Table_BG;
                border: solid 1px $jumpWindow_Table_Border;
                display: flex;
                margin: 20px auto 0;

                .left {
                    width: auto;
                    height: auto;
                    flex-shrink: 0;

                    table {
                        width: auto;
                        height: auto;

                        tr {

                            &:first-child {
                                
                                td {
                                    background: $jumpWindow_Table_TitleBG;
                                    border: none;
        
                                    p {
                                        color: $jumpWindow_Table_TitleColor;
                                        font-size: 18px;

                                        &::before {
                                            background: $jumpWindow_Border;
                                        }
                                    }
                                }
                            }
                            &:last-child {
                                
                                td {
                                    height: 60px;
                                    background: $jumpWindow_Table_totalBG;
                                    border: none;
        
                                    p {
                                        color: $jumpWindow_Table_totalColor;
                                        font-size: 18px;

                                        &::before {
                                            background: $jumpWindow_Table_totalBorder;
                                        }
                                    }
                                }
                            }

                            td {
                                width: auto;
                                min-width: 120px;
                                height: 45px;
                                border-bottom: solid 1px $jumpWindow_Table_innerBorder;
                                vertical-align: middle;
        
                                p {
                                    width: 100%;
                                    color: $jumpWindow_Table_Color;
                                    font-size: 14px;
                                    font-weight: bold;
                                    text-align: center;
                                    line-height: 18px;
                                    position: relative;
                                    padding: 0 20px;

                                    &::before {
                                        content: "";
                                        position: absolute;
                                        right: 0;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        width: 1px;
                                        height: 18px;
                                        background: $jumpWindow_Table_innerBorder;
                                    }

                                    .code {
                                        color: $jumpWindow_actingDetail_codeColor;
                                    }
                                    .bet {
                                        color: $jumpWindow_actingDetail_betColor;
                                    }
                                    .vs {
                                        color: $jumpWindow_actingDetail_vsColor;
                                    }
                                    .mainTeam {
                                        color: $jumpWindow_actingDetail_mainTeamColor;
                                    }
                                }
                            }
                        }
                    }
                }

                .right {
                    width: 100%;
                    height: auto;
                    overflow-x: overlay;
                    @include scrollBar_3;

                    table {
                        width: auto;
                        height: auto;

                        tr {

                            &:last-child {

                                td {
                                    height: 60px;
                                    background: $jumpWindow_Table_totalBG;
                                    border: none;

                                    p {
                                        border-color: $jumpWindow_Table_totalBorder;
                                        color: $jumpWindow_Table_totalColor;

                                        &.allWin {
                                            color: $jumpWindow_acting_allWinColor;
                                        }
                                        &.allLose {
                                            color: $jumpWindow_acting_allLoseColor;
                                        }
                                    }
                                }
                            }
                            
                            th {
                                height: 45px;
                                background: $jumpWindow_Table_TitleBG;
                                vertical-align: middle;

                                &:last-child {
                                    
                                    p {
                                        font-size: 14px;
                                        border: none;
                                    }
                                }
    
                                p {
                                    width: 100%;
                                    border-right: solid 1px $jumpWindow_Table_Border;
                                    color: $jumpWindow_Table_TitleColor;
                                    font-size: 18px;
                                    font-weight: bold;
                                    text-align: center;
                                    white-space: nowrap;
                                }
                            }

                            td {
                                width: auto;
                                min-width: 120px;
                                height: 45px;
                                border-bottom: solid 1px $jumpWindow_Table_innerBorder;
                                vertical-align: middle;

                                &:last-child {
                                    
                                    p {
                                        border: none;
                                    }
                                }

                                p {
                                    width: 100%;
                                    border-right: solid 1px $jumpWindow_Table_innerBorder;
                                    color: $jumpWindow_Table_Color;
                                    font-size: 18px;
                                    font-weight: bold;
                                    text-align: center;
                                    white-space: nowrap;
                                    padding: 0 20px;

                                    &.win {
                                        color: $jumpWindow_acting_winColor;
                                    }
                                    &.lose {
                                        color: $jumpWindow_acting_allLoseColor;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .pageBox {
                width: 92%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin: 0 auto;
                padding: 20px 0;

                i {
                    width: 7px;
                    height: 9px;
                    cursor: pointer;

                    &.arrow_right {
                        transform: scaleX(-1);
                    }
                }

                ul {
                    width: auto;
                    height: auto;
                    display: flex;
                    margin: 0 10px;

                    li {
                        width: 22px;
                        height: 22px;
                        @include pageBox;
                        margin-right: 10px;

                        &:last-child {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}