.mainArea {
    width: 100%;
    min-width: 1050px;
    height: auto;
    padding: 40px 0 130px;

    article {
        width: 1000px;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 50px 10px;
        margin: 0 auto;

        .gameBox {
            width: auto;
            height: 696px;
            background: $mainArea_BG;
            border: solid 1px $mainArea_Border;
            position: relative;

            .dateBox {
                width: auto;
                height: auto;
                display: flex;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: -18px;

                i {
                    width: 48px;
                    height: 51px;

                    &.month_word {
                        background-position-y: 0;
                    }
                    &.day_word {
                        background-position-y: -51px;
                    }
                    &.zero {
                        background-position-y: -102px;
                    }
                    &.one {
                        background-position-y: -153px;
                    }
                    &.two {
                        background-position-y: -204px;
                    }
                    &.three {
                        background-position-y: -255px;
                    }
                    &.four {
                        background-position-y: -306px;
                    }
                    &.five {
                        background-position-y: -357px;
                    }
                    &.six {
                        background-position-y: -408px;
                    }
                    &.seven {
                        background-position-y: -459px;
                    }
                    &.eight {
                        background-position-y: -510px;
                    }
                    &.nine {
                        background-position-y: -561px;
                    }
                }
            }

            .bigTitle {
                width: 450px;
                height: 52px;
                @include mainArea_bigTitle;
                margin: 45px auto 13px;
            }

            .bonusBox {
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 12px;

                .title {
                    color: transparent;
                    font-size: 30px;
                    font-weight: bold;
                    background: $mainArea_BonusColor_1;
                    background-clip: text;
                    margin-top: -5px;
                }

                .moneyBox {
                    width: 269px;
                    height: 63px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 15px;

                    i {
                        width: 25px;
                        height: 33px;
                        margin: -6px 2px 0;

                        &.zero {
                            background-position-y: 0;
                        }
                        &.one {
                            background-position-y: -33px;
                        }
                        &.two {
                            background-position-y: -66px;
                        }
                        &.three {
                            background-position-y: -99px;
                        }
                        &.four {
                            background-position-y: -132px;
                        }
                        &.five {
                            background-position-y: -165px;
                        }
                        &.six {
                            background-position-y: -198px;
                        }
                        &.seven {
                            background-position-y: -231px;
                        }
                        &.eight {
                            background-position-y: -264px;
                        }
                        &.nine {
                            background-position-y: -297px;
                        }
                    }
                }
            }

            .bettingBox {
                width: 480px;
                height: 500px;
                background: $mainArea_innerBG;
                border: solid 1px $mainArea_innerBorder;
                margin: 0 auto;

                .title {
                    width: 100%;
                    height: 52px;
                    background: $mainArea_innerTitleBG;
                    display: flex;
                    align-items: center;

                    li {
                        color: $mainArea_innerTitle;
                        font-size: 20px;
                        font-weight: bold;
                        text-align: center;

                        &:nth-of-type(1) {
                            width: 40%;
                        }
                        &:nth-of-type(2) {
                            width: 30%;
                        }
                        &:nth-of-type(3) {
                            width: 30%;
                        }

                        .rowBox {
                            width: 130px;
                            height: 38px;
                            @include rowBox;

                            &.left {

                                p {
                                    
                                    &:nth-of-type(1) {
                                        @include rowBox_linear_1;
                                    }
                                }
                            }
                            &.right {

                                p {

                                    &:nth-of-type(2) {
                                        @include rowBox_linear_2;
                                    }
                                }
                            }

                            p {
                                width: 50%;
                                height: 88%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }
                }

                .outerBox {
                    width: 100%;
                    height: 440px;
                    padding-right: 5px;

                    .tableBox {
                        width: 100%;
                        height: 100%;
                        overflow-y: overlay;
                        @include scrollBar;
    
                        ul {
                            width: 100%;
                            height: auto;
    
                            li {
                                width: 100%;
                                height: auto;
                                display: flex;
    
                                div {
                                    height: 55px;
                                    display: flex;
                                    align-items: center;
    
                                    &:nth-of-type(1) {
                                        width: 45%;
                                    }
                                    &:nth-of-type(2) {
                                        width: 30%;

                                        p {
                                            font-size: 28px;
                                        }
                                    }
                                    &:nth-of-type(3) {
                                        width: 25%;
                                    }
    
                                    i {
                                        width: 58px;
                                        height: 48px;
                                        flex-shrink: 0;
                                        margin: 0 10px 0 14px;
                                    }
    
                                    p {
                                        color: $mainArea_Color;
                                        font-size: 24px;
                                        font-weight: bold;
                                    }
    
                                    button {
                                        width: 83px;
                                        height: 40px;
                                        @include mainArea_betBtn;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}